<h1 class="title-home">Products added so far</h1>

<div class="container-card-home">
    {{#each products}}
        <div class="card-home">
            <img  src="{{this.thumbnail}}">
            <h5>{{this.title}}</h5>
            <p class="card-text">ID: {{this.id}} </p>
            <p>Descriptión:{{this.description}} </p>
            <p>Precio: {{this.price}} </p>       
            <p>Stock: {{this.stock}} </p>   
            <p>Code: {{this.code}} </p>
            <p>Status: {{this.status}} </p>
        </div>
    {{/each}}
</div>   